#### Start a simple Spark Session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

#### Read the CSV

In [2]:
from pyspark.sql.types import *

mySchema = StructType([
    StructField('id', IntegerType()),
    StructField('first_name', StringType()),
    StructField('last_name', StringType()),
    StructField('gender', StringType()),
    StructField('City', StringType()),
    StructField('JobTitle', StringType()),
    StructField('Salary', StringType()),
    StructField('Latitude', FloatType()),
    StructField('Longitude', FloatType())
])

In [3]:
df = spark.read.csv('../data/original.csv', header=True, schema=mySchema)

In [4]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- City: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)

In [5]:
df.describe().show()

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|summary|               id|first_name|last_name|gender|               City|           JobTitle|   Salary|          Latitude|        Longitude|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|               999|             1000|
|   mean|            500.5|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL| 25.43151724702484|43.33756460386515|
| stddev|288.8194360957494|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.579082550156635| 69.4206453674681|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|         -54.28115|       -123.04196|
|    max|             1000|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|          69.63186|        175.28227|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+

In [6]:
df.count()

1000

In [7]:
df.distinct().count()

1000

## Selection and Filtering

In [8]:
df.select('first_name', 'last_name').show(5)

+----------+----------+
|first_name| last_name|
+----------+----------+
|   Melinde| Shilburne|
|  Kimberly|Von Welden|
|    Alvera|  Di Boldi|
|   Shannon| O'Griffin|
|  Sherwood|   Macieja|
+----------+----------+
only showing top 5 rows

In [9]:
df.select('first_name', df.first_name.substr(1,5).alias('name')).show()

+----------+-----+
|first_name| name|
+----------+-----+
|   Melinde|Melin|
|  Kimberly|Kimbe|
|    Alvera|Alver|
|   Shannon|Shann|
|  Sherwood|Sherw|
|     Maris|Maris|
|     Masha|Masha|
|   Goddart|Godda|
|      Roth| Roth|
|      Bran| Bran|
|    Kylynn|Kylyn|
|       Rey|  Rey|
|      Kerr| Kerr|
|    Mickie|Micki|
|    Kaspar|Kaspa|
|    Norbie|Norbi|
|    Claude|Claud|
|     Thain|Thain|
|  Tiffanie|Tiffa|
|    Ettore|Ettor|
+----------+-----+
only showing top 20 rows

#### Rename existing Column

In [10]:
df.withColumnRenamed('first_name', 'f_name').show(5)

+---+--------+----------+------+-------------+--------------------+---------+---------+----------+
| id|  f_name| last_name|gender|         City|            JobTitle|   Salary| Latitude| Longitude|
+---+--------+----------+------+-------------+--------------------+---------+---------+----------+
|  1| Melinde| Shilburne|Female|    Nowa Ruda| Assistant Professor|$57438.18|50.577408| 16.496717|
|  2|Kimberly|Von Welden|Female|       Bulgan|       Programmer II|$62846.60| 48.82316| 103.52182|
|  3|  Alvera|  Di Boldi|Female|         NULL|                NULL|$57576.52|39.994747|116.339775|
|  4| Shannon| O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|$61489.23|44.504723| 38.130016|
|  5|Sherwood|   Macieja|  Male|    Mytishchi|            VP Sales|$63863.09|     NULL| 37.648994|
+---+--------+----------+------+-------------+--------------------+---------+---------+----------+
only showing top 5 rows

#### Filter Data

In [11]:
df.filter(df.first_name == 'Alvera').show(5)

+---+----------+---------+------+----+--------+---------+---------+----------+
| id|first_name|last_name|gender|City|JobTitle|   Salary| Latitude| Longitude|
+---+----------+---------+------+----+--------+---------+---------+----------+
|  3|    Alvera| Di Boldi|Female|NULL|    NULL|$57576.52|39.994747|116.339775|
+---+----------+---------+------+----+--------+---------+---------+----------+

In [12]:
df.filter(df.first_name.like('Al%')).show(50)

+---+----------+-------------+------+--------------+--------------------+---------+----------+----------+
| id|first_name|    last_name|gender|          City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-------------+------+--------------+--------------------+---------+----------+----------+
|  3|    Alvera|     Di Boldi|Female|          NULL|                NULL|$57576.52| 39.994747|116.339775|
| 21|      Alon|     Chasteau|  Male|         Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 81|     Alvin|        Doman|  Male|          Niny|Research Assistant I|$53258.86| 44.486843| 43.940807|
|101|     Alene|          Odd|Female| María la Baja|Accounting Assist...|$37379.03|   9.91416| -75.41116|
|115|    Allard|       Cordel|  Male|     Mieścisko|Compensation Analyst|$18907.81| 45.863018|  5.947966|
|117|      Alli|      Mc Pake|Female|        Gerong|     Staff Scientist|$58172.73|-6.2002535| 106.82217|
|160|     Alane|   Southworth|Female|     Eindhoven|Programmer Analyst I|$24042.10| 51.413155| 5.4852796|
|193|    Alfons|    Dumbleton|  Male|         Shūsh|Research Assistan...|$88389.56| 32.195793| 48.254284|
|244|      Alfy|      McGrale|  Male|        Domsjö|Mechanical System...|$79852.59| 63.266468| 18.628548|
|276|   Alyosha|    Guerreiro|  Male|          Bile|               Nurse|$97909.88| 48.500492|  39.04895|
|287|    Alexei|      Harriot|  Male|     Shangjing|    Junior Executive|$55711.38| 24.390594| 114.52239|
|299|     Alley|  Brockington|  Male|     Balahovit|Community Outreac...|$74464.26| 40.254402| 44.602776|
|347|   Allayne|        Dooly|  Male|    Kastornoye|  Help Desk Operator|$23794.18| 51.831543| 38.139458|
|359|     Alyse|        Meese|Female|      Getengan|Safety Technician IV|$23843.06| -3.232554| 119.94849|
|405|  Alasteir|      Sotheby|  Male|       Secunda|  Analyst Programmer|$21326.73| -26.51578| 29.191391|
|429|Alessandro|      Shearer|  Male|Banjar Kelodan|            VP Sales|$51979.53|  -8.12334|115.338936|
|501|   Almeria|      Turbern|Female|         Lanús| Structural Engineer|$86294.59|-34.667282| -58.61622|
|534|     Albie|      Kettell|  Male|        Magugu|            VP Sales|$45042.14|-4.0003104| 35.778496|
|655|   Alphard|        Sidey|  Male|      Linglong| Clinical Specialist|$94883.85|  37.36524| 120.44763|
|722|    Alonso|        Gueny|  Male|        Gaopai|Administrative Of...|$14528.73| 25.487867| 115.61443|
|742|     Aloin|        Niset|  Male|      Carreira| Marketing Assistant|$69829.64|  39.86517| -8.857121|
|743|     Allix|    Kilgallen|Female|    Dahuangwei| Staff Accountant II|$66687.59| 39.534153|113.087105|
|751|     Aland|      Seebert|  Male|           Oss| Software Engineer I|$40392.24|  51.76105|  5.551041|
|774|    Alonso|       Dengel|  Male|        Gostyń|  Analyst Programmer|$34110.21|  51.90345| 16.955477|
|775|   Alverta|     MacNulty|Female|    Megalópoli| Geological Engineer|$17299.62| 37.401245| 22.136488|
|867|  Albrecht|        Grist|  Male|         Tambo|   Assistant Manager|$40264.91| 14.515532| 120.98129|
|901|     Aldin|Matuszkiewicz|  Male|   East London|            Operator|$41468.83|-32.954933| 27.931913|
|947|    Alexei|      Durston|  Male|         Zhuxi|     Cost Accountant|$15849.42| 32.318256|  109.7153|
|986|      Alta|     Chaudhry|Female|    Tambakrejo|Accounting Assist...|$22750.50| -8.301091| 112.14898|
+---+----------+-------------+------+--------------+--------------------+---------+----------+----------+

In [13]:
df.filter(df.first_name.startswith('Al')).show(50)

+---+----------+-------------+------+--------------+--------------------+---------+----------+----------+
| id|first_name|    last_name|gender|          City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-------------+------+--------------+--------------------+---------+----------+----------+
|  3|    Alvera|     Di Boldi|Female|          NULL|                NULL|$57576.52| 39.994747|116.339775|
| 21|      Alon|     Chasteau|  Male|         Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 81|     Alvin|        Doman|  Male|          Niny|Research Assistant I|$53258.86| 44.486843| 43.940807|
|101|     Alene|          Odd|Female| María la Baja|Accounting Assist...|$37379.03|   9.91416| -75.41116|
|115|    Allard|       Cordel|  Male|     Mieścisko|Compensation Analyst|$18907.81| 45.863018|  5.947966|
|117|      Alli|      Mc Pake|Female|        Gerong|     Staff Scientist|$58172.73|-6.2002535| 106.82217|
|160|     Alane|   Southworth|Female|     Eindhoven|Programmer Analyst I|$24042.10| 51.413155| 5.4852796|
|193|    Alfons|    Dumbleton|  Male|         Shūsh|Research Assistan...|$88389.56| 32.195793| 48.254284|
|244|      Alfy|      McGrale|  Male|        Domsjö|Mechanical System...|$79852.59| 63.266468| 18.628548|
|276|   Alyosha|    Guerreiro|  Male|          Bile|               Nurse|$97909.88| 48.500492|  39.04895|
|287|    Alexei|      Harriot|  Male|     Shangjing|    Junior Executive|$55711.38| 24.390594| 114.52239|
|299|     Alley|  Brockington|  Male|     Balahovit|Community Outreac...|$74464.26| 40.254402| 44.602776|
|347|   Allayne|        Dooly|  Male|    Kastornoye|  Help Desk Operator|$23794.18| 51.831543| 38.139458|
|359|     Alyse|        Meese|Female|      Getengan|Safety Technician IV|$23843.06| -3.232554| 119.94849|
|405|  Alasteir|      Sotheby|  Male|       Secunda|  Analyst Programmer|$21326.73| -26.51578| 29.191391|
|429|Alessandro|      Shearer|  Male|Banjar Kelodan|            VP Sales|$51979.53|  -8.12334|115.338936|
|501|   Almeria|      Turbern|Female|         Lanús| Structural Engineer|$86294.59|-34.667282| -58.61622|
|534|     Albie|      Kettell|  Male|        Magugu|            VP Sales|$45042.14|-4.0003104| 35.778496|
|655|   Alphard|        Sidey|  Male|      Linglong| Clinical Specialist|$94883.85|  37.36524| 120.44763|
|722|    Alonso|        Gueny|  Male|        Gaopai|Administrative Of...|$14528.73| 25.487867| 115.61443|
|742|     Aloin|        Niset|  Male|      Carreira| Marketing Assistant|$69829.64|  39.86517| -8.857121|
|743|     Allix|    Kilgallen|Female|    Dahuangwei| Staff Accountant II|$66687.59| 39.534153|113.087105|
|751|     Aland|      Seebert|  Male|           Oss| Software Engineer I|$40392.24|  51.76105|  5.551041|
|774|    Alonso|       Dengel|  Male|        Gostyń|  Analyst Programmer|$34110.21|  51.90345| 16.955477|
|775|   Alverta|     MacNulty|Female|    Megalópoli| Geological Engineer|$17299.62| 37.401245| 22.136488|
|867|  Albrecht|        Grist|  Male|         Tambo|   Assistant Manager|$40264.91| 14.515532| 120.98129|
|901|     Aldin|Matuszkiewicz|  Male|   East London|            Operator|$41468.83|-32.954933| 27.931913|
|947|    Alexei|      Durston|  Male|         Zhuxi|     Cost Accountant|$15849.42| 32.318256|  109.7153|
|986|      Alta|     Chaudhry|Female|    Tambakrejo|Accounting Assist...|$22750.50| -8.301091| 112.14898|
+---+----------+-------------+------+--------------+--------------------+---------+----------+----------+

In [14]:
df.filter(df.last_name.endswith('ly')).show(50)

+---+----------+---------+------+-----------+--------------------+---------+----------+---------+
| id|first_name|last_name|gender|       City|            JobTitle|   Salary|  Latitude|Longitude|
+---+----------+---------+------+-----------+--------------------+---------+----------+---------+
| 15|    Kaspar|    Pally|  Male|     Chrást|  Analyst Programmer|$40163.03|  49.79233|13.491532|
| 76|  Jonathon|   Rielly|  Male|     Duzhou|Automation Specia...|$66832.92| 31.298973|120.58529|
|214|      Edan|    Dealy|  Male|     Jandir| Safety Technician I|$90918.62|-6.9561844|113.98835|
|347|   Allayne|    Dooly|  Male| Kastornoye|  Help Desk Operator|$23794.18| 51.831543|38.139458|
|362|    Lianne| Sommerly|Female|    Tabālah|Software Test Eng...|$60641.75| 19.996937| 42.22638|
|399| Silvester|   Hasely|  Male|     Tiaong|Research Assistan...|$75543.84| 13.943482|121.36913|
|413|   Sherrie|    Siely|Female|       Arys|Senior Cost Accou...|$55981.21| 42.433853|68.812904|
|548|Bartolomeo|   Hackly|  Male|    Xindian|   Account Executive|$57804.08|  37.10538|116.69436|
|735|       Eal|  Goligly|  Male|Pétionville|      Civil Engineer|$89197.44| 18.513813|-72.28819|
+---+----------+---------+------+-----------+--------------------+---------+----------+---------+

In [15]:
df.filter(df.id.between(10, 15)).show(50)

+---+----------+---------+------+-----------+--------------------+---------+--------+----------+
| id|first_name|last_name|gender|       City|            JobTitle|   Salary|Latitude| Longitude|
+---+----------+---------+------+-----------+--------------------+---------+--------+----------+
| 10|      Bran|  Trahear|  Male|   Arbeláez|Mechanical System...|$68098.42|4.272793|-74.416016|
| 11|    Kylynn|  Lockart|Female|   El Cardo|Nuclear Power Eng...|$13604.63|   -5.85| -79.88333|
| 12|       Rey|   Meharg|Female|Wangqingtuo|Systems Administr...|$73423.70|39.17238| 116.93161|
| 13|      Kerr|   Braden|  Male|  Sułkowice|Compensation Analyst|$33432.99|49.81518| 19.377174|
| 14|    Mickie|Whanstall|  Male|Springfield|Assistant Media P...|$50838.53|42.10148|-72.576675|
| 15|    Kaspar|    Pally|  Male|     Chrást|  Analyst Programmer|$40163.03|49.79233| 13.491532|
+---+----------+---------+------+-----------+--------------------+---------+--------+----------+

In [16]:
df.filter((df.id >= 10) & (df.id <= 15)).show(50)

+---+----------+---------+------+-----------+--------------------+---------+--------+----------+
| id|first_name|last_name|gender|       City|            JobTitle|   Salary|Latitude| Longitude|
+---+----------+---------+------+-----------+--------------------+---------+--------+----------+
| 10|      Bran|  Trahear|  Male|   Arbeláez|Mechanical System...|$68098.42|4.272793|-74.416016|
| 11|    Kylynn|  Lockart|Female|   El Cardo|Nuclear Power Eng...|$13604.63|   -5.85| -79.88333|
| 12|       Rey|   Meharg|Female|Wangqingtuo|Systems Administr...|$73423.70|39.17238| 116.93161|
| 13|      Kerr|   Braden|  Male|  Sułkowice|Compensation Analyst|$33432.99|49.81518| 19.377174|
| 14|    Mickie|Whanstall|  Male|Springfield|Assistant Media P...|$50838.53|42.10148|-72.576675|
| 15|    Kaspar|    Pally|  Male|     Chrást|  Analyst Programmer|$40163.03|49.79233| 13.491532|
+---+----------+---------+------+-----------+--------------------+---------+--------+----------+

In [17]:
df.filter(df.first_name.isin('Alvera', 'Lyndsey','Rey')).show(50)

+---+----------+---------+------+-----------+--------------------+---------+---------+----------+
| id|first_name|last_name|gender|       City|            JobTitle|   Salary| Latitude| Longitude|
+---+----------+---------+------+-----------+--------------------+---------+---------+----------+
|  3|    Alvera| Di Boldi|Female|       NULL|                NULL|$57576.52|39.994747|116.339775|
| 12|       Rey|   Meharg|Female|Wangqingtuo|Systems Administr...|$73423.70| 39.17238| 116.93161|
|925|       Rey|  Girardy|  Male|   Malishka|   Financial Analyst|$76783.48| 39.73761| 45.392582|
+---+----------+---------+------+-----------+--------------------+---------+---------+----------+

In [18]:
df.filter(df.first_name.isin('Alvera', 'Lyndsey','Rey')  | df.City.like('%uo')).show(50)

+---+----------+---------+------+-----------+--------------------+---------+---------+----------+
| id|first_name|last_name|gender|       City|            JobTitle|   Salary| Latitude| Longitude|
+---+----------+---------+------+-----------+--------------------+---------+---------+----------+
|  3|    Alvera| Di Boldi|Female|       NULL|                NULL|$57576.52|39.994747|116.339775|
| 12|       Rey|   Meharg|Female|Wangqingtuo|Systems Administr...|$73423.70| 39.17238| 116.93161|
|925|       Rey|  Girardy|  Male|   Malishka|   Financial Analyst|$76783.48| 39.73761| 45.392582|
+---+----------+---------+------+-----------+--------------------+---------+---------+----------+

## Null/Duplicate Handeling

#### Drop Duplicate

In [19]:
df.dropDuplicates().count()

1000

#### Drop if null in any column

In [20]:
df.na.drop().show(truncate=False)

+---+----------+----------+------+---------------+----------------------------+---------+----------+----------+
|id |first_name|last_name |gender|City           |JobTitle                    |Salary   |Latitude  |Longitude |
+---+----------+----------+------+---------------+----------------------------+---------+----------+----------+
|1  |Melinde   |Shilburne |Female|Nowa Ruda      |Assistant Professor         |$57438.18|50.577408 |16.496717 |
|2  |Kimberly  |Von Welden|Female|Bulgan         |Programmer II               |$62846.60|48.82316  |103.52182 |
|4  |Shannon   |O'Griffin |Male  |Divnomorskoye  |Budget/Accounting Analyst II|$61489.23|44.504723 |38.130016 |
|6  |Maris     |Folk      |Female|Kinsealy-Drinan|Civil Engineer              |$30101.16|53.426613 |-6.1644998|
|8  |Goddart   |Flear     |Male  |Trélissac      |Desktop Support Technician  |$46116.36|45.190517 |0.7423124 |
|9  |Roth      |O'Cannavan|Male  |Heitan         |VP Product Management       |$73697.10|32.027935 |106.65711 |
|10 |Bran      |Trahear   |Male  |Arbeláez       |Mechanical Systems Engineer |$68098.42|4.272793  |-74.416016|
|11 |Kylynn    |Lockart   |Female|El Cardo       |Nuclear Power Engineer      |$13604.63|-5.85     |-79.88333 |
|12 |Rey       |Meharg    |Female|Wangqingtuo    |Systems Administrator I     |$73423.70|39.17238  |116.93161 |
|13 |Kerr      |Braden    |Male  |Sułkowice      |Compensation Analyst        |$33432.99|49.81518  |19.377174 |
|14 |Mickie    |Whanstall |Male  |Springfield    |Assistant Media Planner     |$50838.53|42.10148  |-72.576675|
|15 |Kaspar    |Pally     |Male  |Chrást         |Analyst Programmer          |$40163.03|49.79233  |13.491532 |
|16 |Norbie    |Gwyllt    |Male  |Xijiao         |Editor                      |$32492.73|43.494576 |5.897802  |
|17 |Claude    |Briant    |Female|Mieścisko      |Research Assistant II       |$51862.48|52.744167 |17.327864 |
|18 |Thain     |Habbon    |Male  |Foros do Trapo |Design Engineer             |$42135.67|38.696247 |-8.709834 |
|19 |Tiffanie  |Pattison  |Female|Jabungsisir    |Senior Financial Analyst    |$91925.08|-7.7232566|113.46868 |
|20 |Ettore    |Gerriets  |Male  |Pedra          |Staff Accountant IV         |$73921.33|40.717205 |-8.3625145|
|21 |Alon      |Chasteau  |Male  |Xin’e          |Web Developer I             |$62755.85|49.16291  |127.98658 |
|22 |Guthrey   |Johnke    |Male  |Xijiao         |Developer I                 |$13708.03|40.757683 |23.134218 |
|23 |Lurleen   |Janczak   |Female|Rozkishne      |Web Developer IV            |$29384.72|48.49028  |39.27122  |
+---+----------+----------+------+---------------+----------------------------+---------+----------+----------+
only showing top 20 rows

#### If city is null, then set city to 'Unknown'

In [21]:
from pyspark.sql.functions import *

df_city = df.withColumn('City_N',when(df.City.isNull(),'Unknown').otherwise(df.City))
df_city.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|         City_N|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|      Nowa Ruda|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|         Bulgan|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|        Unknown|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|  Divnomorskoye|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|      Mytishchi|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|Kinsealy-Drinan|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|         Dachun|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|      Trélissac|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|         Heitan|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|       Arbeláez|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|       El Cardo|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|    Wangqingtuo|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|      Sułkowice|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|    Springfield|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|         Chrást|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|         Xijiao|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|      Mieścisko|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834| Foros do Trapo|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|    Jabungsisir|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|          Pedra|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+---------------+
only showing top 20 rows

### If the Job title is null, then delete the row

In [22]:
df_jt = df.filter(df.JobTitle.isNotNull())
df_jt.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|
| 21|      Alon|  Chasteau|  Male|          Xin’e|     Web Developer I|$62755.85|  49.16291| 127.98658|
| 22|   Guthrey|    Johnke|  Male|         Xijiao|         Developer I|$13708.03| 40.757683| 23.134218|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

### If Salary is null then replace it with Average salary

In [23]:
df_sal = df.withColumn('Salary_fix', df.Salary.substr(2,100).cast('float'))
mean_salary = df_sal.groupBy().avg('Salary_fix').take(1)[0][0]
print(mean_salary)
df_sal = df_sal.withColumn('New_salary', when(df_sal.Salary_fix.isNull(),lit(mean_salary)).otherwise(df_sal.Salary_fix))

df_sal.show()

55487.95562890625
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+----------+----------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|Salary_fix|      New_salary|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+----------+----------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|  57438.18|   57438.1796875|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|   62846.6|   62846.6015625|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|  57576.52|  57576.51953125|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|  61489.23|  61489.23046875|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|  63863.09|  63863.08984375|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|  30101.16|  30101.16015625|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|  25090.87| 25090.869140625|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|  46116.36|    46116.359375|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|   73697.1|   73697.1015625|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|  68098.42|    68098.421875|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|  13604.63|13604.6298828125|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|   73423.7|    73423.703125|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|  33432.99|  33432.98828125|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|  50838.53|     50838.53125|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|  40163.03|     40163.03125|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|  32492.73|  32492.73046875|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|  51862.48|  51862.48046875|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|  42135.67|    42135.671875|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|  91925.08|    91925.078125|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|  73921.33|    73921.328125|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+----------+----------------+
only showing top 20 rows

### Update the Latitude with Median where latitude value is missing/NULL

In [24]:
latitude = df_sal.select('Latitude')

latitude = latitude.filter(latitude.Latitude.isNotNull())

latitude = latitude.withColumn('Latitude_N', latitude.Latitude.cast('float')).select('Latitude_N')

latitude.show()

import numpy as np

median = np.median(latitude.collect())
print(median)

df_sal =df_sal.withColumn('lat', when(df_sal.Latitude.isNull(), lit(median)).otherwise(df_sal.Latitude))
df_sal.show()

+----------+
|Latitude_N|
+----------+
| 50.577408|
|  48.82316|
| 39.994747|
| 44.504723|
| 53.426613|
| 24.879416|
| 45.190517|
| 32.027935|
|  4.272793|
|     -5.85|
|  39.17238|
|  49.81518|
|  42.10148|
|  49.79233|
| 43.494576|
| 52.744167|
| 38.696247|
|-7.7232566|
| 40.717205|
|  49.16291|
+----------+
only showing top 20 rows

31.93397331237793
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+----------+----------------+------------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|Salary_fix|      New_salary|               lat|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+----------+----------------+------------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717|  57438.18|   57438.1796875| 50.57740783691406|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|   62846.6|   62846.6015625|48.823158264160156|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|  57576.52|  57576.51953125|39.994747161865234|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|  61489.23|  61489.23046875|44.504722595214844|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|  63863.09|  63863.08984375| 31.93397331237793|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|  30101.16|  30101.16015625|53.426612854003906|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|  25090.87| 25090.869140625| 24.87941551208496|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|  46116.36|    46116.359375| 45.19051742553711|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|   73697.1|   73697.1015625| 32.02793502807617|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|  68098.42|    68098.421875| 4.272792816162109|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|  13604.63|13604.6298828125|-5.849999904632568|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|   73423.7|    73423.703125| 39.17237854003906|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|  33432.99|  33432.98828125|49.815181732177734|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|  50838.53|     50838.53125|42.101478576660156|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|  40163.03|     40163.03125| 49.79233169555664|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|  32492.73|  32492.73046875| 43.49457550048828|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|  51862.48|  51862.48046875| 52.74416732788086|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|  42135.67|    42135.671875| 38.69624710083008|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|  91925.08|    91925.078125|-7.723256587982178|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145|  73921.33|    73921.328125| 40.71720504760742|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+----------+----------------+------------------+
only showing top 20 rows

#### By Job Title , Men & women get paid on average

In [25]:

genders = df_sal.groupBy(df_sal.gender).agg(avg(df_sal.New_salary).alias('avg_salary'))

genders.show()

+------+-----------------+
|gender|       avg_salary|
+------+-----------------+
|Female|55618.94298820185|
|  Male|55361.09385573019|
+------+-----------------+

#### Per Job-role who get paid more gender wise

In [26]:
df_new = df_sal.withColumn('female_sal', when(df_sal.gender == 'Female', df_sal.New_salary).otherwise(lit(0)))
df_final = df_new.withColumn('male_sal', when(df_new.gender == 'Male', df_new.New_salary).otherwise(lit(0)))

df_agg = df_final.groupBy(df_final.JobTitle).agg(avg("female_sal").alias('avg_female_sal'), avg(df_final.male_sal).alias('avg_male_sal'))
df_agg = df_agg.withColumn('delta', df_agg.avg_female_sal - df_agg.avg_male_sal)
df_agg.show(truncate=False)

+-----------------------------+------------------+------------------+-------------------+
|JobTitle                     |avg_female_sal    |avg_male_sal      |delta              |
+-----------------------------+------------------+------------------+-------------------+
|Systems Administrator II     |50590.474609375   |15540.9501953125  |35049.5244140625   |
|Media Manager III            |29586.436197916668|17381.920572916668|12204.515625       |
|Recruiting Manager           |34848.452473958336|26383.4951171875  |8464.957356770836  |
|Geologist III                |31749.046875      |12830.75390625    |18918.29296875     |
|Geologist II                 |0.0               |43293.865234375   |-43293.865234375   |
|Database Administrator IV    |0.0               |52018.4609375     |-52018.4609375     |
|Financial Analyst            |23353.776953125   |39606.05625       |-16252.279296875   |
|Analyst Programmer           |16406.1287109375  |21042.9634765625  |-4636.834765625001 |
|Software Engineer II         |0.0               |74782.640625      |-74782.640625      |
|Accountant IV                |82732.248046875   |0.0               |82732.248046875    |
|Product Engineer             |41825.48359375    |20464.94375       |21360.539843750004 |
|Software Test Engineer II    |32218.6083984375  |27122.462890625   |5096.1455078125    |
|Safety Technician III        |0.0               |29421.529296875   |-29421.529296875   |
|Junior Executive             |15752.220052083334|49510.330729166664|-33758.11067708333 |
|Systems Administrator III    |77059.21875       |0.0               |77059.21875        |
|Human Resources Assistant III|24022.662109375   |16609.27783203125 |7413.38427734375   |
|VP Marketing                 |7981.178385416667 |52844.534830729164|-44863.3564453125  |
|Environmental Tech           |13706.980143229166|45660.890625      |-31953.910481770836|
|Mechanical Systems Engineer  |31370.781901041668|44321.593098958336|-12950.811197916668|
|Assistant Professor          |22175.953515625   |26912.770703125   |-4736.817187500001 |
+-----------------------------+------------------+------------------+-------------------+
only showing top 20 rows

#### Which city have highest average salary

In [27]:
city_avg = df_sal.groupBy('City').agg(avg('New_salary').alias('avg_city_salary')).orderBy('avg_city_salary', ascending=False)
city_avg = city_avg.sort(col('avg_city_salary').desc())
city_avg.show()

+-----------------+---------------+
|             City|avg_city_salary|
+-----------------+---------------+
|        Mesopotam|    99948.28125|
|       Zhongcheng|   99942.921875|
|           Caxias|  99786.3984375|
|      Karangtawar|  99638.9921875|
|        Itabaiana|    99502.15625|
|           Pasian|    99421.34375|
|           Webuye|   99368.546875|
|      Yuktae-dong|   99250.828125|
|           Zinder|    99222.84375|
|   Timiryazevskiy|     99142.9375|
|        Sawahbaru|  99013.7109375|
|          Madimba|  98737.8671875|
|         Huangshi|    98690.34375|
|          Gharyan|     98679.3125|
|         Yŏnan-ŭp|   98628.609375|
|     Wringinputih|  98603.8203125|
|Monte da Boavista|    98586.71875|
|          Klukeng|  98439.4921875|
|         Murmashi|    98226.15625|
|        Fox Creek|        98138.0|
+-----------------+---------------+
only showing top 20 rows

## Running SQL

In [28]:
df.createOrReplaceTempView('people')
spark.sql('select * from people where City like "%ch%"').show()

+---+----------+----------+------+--------------------+--------------------+---------+----------+----------+
| id|first_name| last_name|gender|                City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+----------+------+--------------------+--------------------+---------+----------+----------+
|  5|  Sherwood|   Macieja|  Male|           Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|
|  7|     Masha|    Divers|Female|              Dachun|                NULL|$25090.87| 24.879416|118.930115|
| 31|      Neda|      Krop|Female|    Ubon Ratchathani| Software Consultant|$48945.40| 15.247888| 104.87645|
| 52|      Seth|   Gosnell|  Male|              Ovruch|  Nurse Practicioner|$40880.00|  51.32683| 28.802896|
| 85|   Gothart|    Olivey|  Male|          Zhongcheng|Assistant Media P...|$99942.92| 22.356083| 112.56237|
| 92|    Lorene|    Loines|Female|           Michałowo|       Senior Editor|$36636.17| 53.032936| 23.606218|
|136|    Kellby| Hamprecht|  Male|         Horodyshche|Chief Design Engi...|$23203.43| 49.291775| 31.446533|
|225|  Annmarie| Simionato|Female|           Suchy Las|     Health Coach II|$61517.64|  52.51254| 16.839527|
|238|     Verne|   Quinion|  Male|Schiedam postbusn...|Structural Analys...|$25602.20|    51.883|    4.3577|
|270|   Candace|   Lukesch|Female|             Mompach| Structural Engineer|$83840.06|  49.75145| 6.4641647|
|290|   Parnell| Ridehalgh|  Male|            Michałów|Payment Adjustmen...|$52960.88|  50.48972| 20.449179|
|291|     Tarra|  Iggulden|Female|          Bamencheng|           Librarian|$15755.36| 33.347317| 120.16366|
|295|  Maureene|   Prebble|Female|            Pyshchug| Geological Engineer|$22658.32|  58.88826| 45.709457|
|320|     Eugen|     Dakin|  Male|        Chincha Baja| Geological Engineer|$43872.69| -13.49196| -76.16678|
|331|    Bartel|   Burgill|  Male|           Kolochava|     Staff Scientist|$51590.58| 48.418022| 23.737112|
|381|      Lulu|  Culligan|Female|           Il’ichëvo|      Tax Accountant|$43503.56|  60.26808|   29.7523|
|391|     Verge|  Hefferan|  Male|          Cocachacra|Community Outreac...|$90391.71|-17.091843| -71.77114|
|420|  Tabbatha|  Du Hamel|Female|          Ichinoseki|Research Assistan...|$78954.92|  38.53701| 140.85446|
|421|    Emmett|Ellingford|  Male|             Rychtal|Automation Specia...|$90030.35|  51.16102| 17.904583|
|428|   Pernell|   Fossitt|  Male|           Wangchang|    Graphic Designer|$36927.53| 40.401047|  117.9989|
+---+----------+----------+------+--------------------+--------------------+---------+----------+----------+
only showing top 20 rows